* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    min-height: 100vh;
    /*background: linear-gradient(to right top, #113664, #000102);*/
    background-image: url("images/night-sky.jfif");
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass {
    background: white;
    min-height: 80vh;
    width: 80%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    z-index: 3;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle1, .circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 15%;
}

.circle2 {
    bottom: 40%;
    left: 52%;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
}

.question {
    display: flex;
    margin: 5px 3px;
    /*padding: 1rem 5rem;*/
    align-items: center;
    flex-direction: column;
}

.work-area {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin: 5rem;
    align-items: center;
}

div.logo {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    overflow: hidden;
}

img.logo {
    border-radius: 50%;
    background: repeating-linear-gradient(to right bottom, rgb(1, 3, 10), rgba(72, 72, 255, 0.3));
    margin: 2rem;
    object-fit: contain;
    max-width: 100%;
}

.faq {
    margin: 0;
}

.qn {
    background-color: rgb(3, 22, 50);
    color: #c5c9e5;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: #444444;
    text-align: left;
    outline: #444444;
    font-size: 1.25rem;
    /*transition: 0.4s;*/
    -webkit-transition: background 2s ease-out;
    -moz-transition:    background 2s ease-out;
    -ms-transition:     background 2s ease-out;
    -o-transition:      background 2s ease-out;
    transition:         background 2s ease-out;
    border-radius: 1rem;
}

.active, .qn:hover, .label-image:hover {
    background-color:  rgba(128, 128, 255, 0.3);
    color: black;
}

.answer {
    padding: 1rem;
    display: none;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    border-radius: 2rem;

}

/*img {*/
/*    max-width: 100%;*/
/*    max-height: 100%;*/
/*}*/

input[type='file'] {
    color: rgba(0, 0, 0, 0)
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #0756ac;
    font-weight: 400;
    font-size: 3rem;
    opacity: 0.8;

}

p {
    font-family: 'Poppins', sans-serif;
    color: #0e3c7a;
    font-weight: 400;
    font-size: 1.5rem;
    opacity: 0.8;

}

.explanation {
    padding: 1rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    /*background: linear-gradient(to right top, #65dfc9, #6cdbeb);*/
}

div.explanation > p {
    text-align: center;
}

p {
    font-family: 'Poppins', sans-serif;
}

.title {
    flex: 1;
}

.image-area {
    flex: 1;
    display: flex;
    flex-direction: column;
}

input[type="file"] {
    display: none;
}

.label-image {
    border: 1px solid #000000;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    color: #cddefd;
    font-weight: 400;
    font-size: 1.5rem;
    opacity: 0.8;
    margin: 2rem 2rem;
    border-radius: 1rem;
    background-color: #031a18;
}

.output-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 1rem;
}

textarea {
    background: linear-gradient(
            45deg
            , rgba(0,0,0,0.2), transparent);
    border: none;
    border-radius: 1rem;
    margin: 1rem 1rem;
}

.social-icons {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 1rem;
    padding: 1rem;
}

p.answers {
    font-size: 1.15rem;
}

